<body class="bg-gray-300">
    <main>
            <%= react_component('Navbar') %>
            <%= react_component('Authentication') %>
        <section>
            <%= react_component('Sidebar') %>

        </section>
    </main>
</body>